
    <mat-toolbar color="primary">
    <mat-toolbar-row color="primary" class="ms-5">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>BookMyHotel</h2>
    </mat-toolbar-row>
    <mat-toolbar-row color="primary" class="ms-5">
     <span class="p-5 fs-6"><mat-icon class="pt-1 me-2">bed</mat-icon>Stays</span>
     <span class="p-5 fs-6"><mat-icon class="pt-1 me-1">flight</mat-icon>Flights</span>
     <span class="p-5 fs-6">Flight+Hotel</span>
    </mat-toolbar-row>
</mat-toolbar>